#sms{
/* height: 600px;
width: 600px;*/
	border-radius: 10px;
	background-color: gray;

}
td{
	width: 25%;
}
#trbody{
	width: 100%;
}
/*.border{
  border: 1px solid black;
}*/

#mainContainer{
  text-align: center;
.border{
  border: 1px solid black;
  height: 800px;
}
